@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.atag{
	text-decoration: none;
	color: #fff;
}


.header{
	background-color: #373737;
	text-align: center;
	height: 100px;
	font-family: 'Nanum Gothic', serif;
}

.header-menu {
	display: inline-block;
	padding-top:30px;
}

.iblock{
	display: inline-block;
}

/* .menu-list, .gnb{
	padding-top:20px;
	padding-right:20px;
} */
.search-btn{padding-right:40px;}

.search-btn, .gnb{
	padding-top:6px;
}

.categories{
	float:left;
	margin-left:100px;
}

.categories img{
	width:25px;
	height:20px;
	/* margin-top: 10px; */
	padding-top:5px;
	padding-right:10px;
}

.logo{
	float:left;
}

.gnb, .search-btn{
	float:right;
}

.user-info-btn{
	padding-right: 10px;
}

.logout-btn{
	background: transparent;
	border: 0px;
	cursor: pointer;
	/* vertical-align: middle; */
	text-align: center;
	color:#fff;
	font-size:15px; 
	outline: none;
	font-family: 'Nanum Gothic', serif;
}

/* 메뉴 드롭다운 관련 css */
.categories > a img:hover{
	display: block;
	z-index: 9999;
}

.categories > ul li{
	list-style-type:none; 
	padding:5px;
}

.categories ul{
	/* display: none; */
	position: absolute;
	margin-top:0px;
	padding-top:10px;
	margin-left:-31px;
	background-color: #373737;
	border-radius: 5px;
	padding:10px 15px 10px 15px;
	display: block;
	z-index: 9999;
}

.categories ul li ul li{
	float:left;
}

.menu-list > ul li, .gnb > ul li{
	list-style-type: none;
	/* display: inline-block; */
	float:left;
	padding-right:5px;
}

.gnb > ul li:nth-of-type(1){
	padding-right:15px;
}
/* .gnb > ul li:nth-of-type(2){
	padding-right:15px;
}
 */
.menu-list ul li{
	padding:5px 15px 1px 15px;
}

.menu-list ul ul{
	display: none;
	position: absolute;
	margin-top:0px;
	padding-top:10px;
	margin-left:-31px;
	background-color: #373737;
	border-radius: 5px;
	padding:10px 15px 10px 15px;
}

.menu-list ul li:hover ul{
	display: block;
	z-index: 9999;
}

.menu-list ul ul li{
	float: none;
	text-align: left;
	cursor: pointer;
}

.menu-list ul ul li:hover{
	color:#FEB727;
}

















