@charset "UTF-8";

.header{
	background-color: #373737;
	text-align: center;
	height: 100px;
}

.header-menu {
	display: inline-block;
	padding-top:30px;
}

.iblock{
	display: inline-block;
}

.menu-list, .search-btn, .gnb{
	padding-top:20px;
	padding-right:20px;
}

.categories{
	
}

.categories img{
	width:25px;
	height:20px;
	margin-top: 10px;
	padding-right:10px;
}

.logo{
	float:left;
}

.gnb, .search-btn{
	float:right;
}

.menu-list > ul, .gnb > ul{
	list-style-type: none;
}

.menu-list > ul li, .gnb > ul li{
	display: inline-block;
	padding-right:5px;
}