@charset "UTF-8";

/*화살표*/
.arrow img {
	position: fixed;
	top: 50%;
	width: 40px;
	height: 40px;
	z-index: 100;
}

.arrow.prev img {

	left: 100px;
}

.arrow.next img {

	right: 100px;
}

a:-webkit-any-link {
	color: -webkit-link;
	cursor: auto;
	text-decoration: underline;
}
/*-----------------------------------------------------  */
.view_img>.view_con .view_wrap {
	background: #fff;
}
/*사진과 사용자 명*/
.profile {
	height: auto;
	padding: 43px 0 42px;
	margin: 0;
	
}


.view_wrap {
    position: relative;
    max-width: 1000px;
    min-height: 500px;
    margin: 250px auto;
    padding: 0 2.6%;
    overflow: hidden;
    /* border: 1px solid; */
}



.right h2{
	text-align: right;
	margin-left: 20px;
}
.left h2{
	text-align: left;
	margin-left: 20px;
}

.profile div {
    height: 90px;
    width: 49%;
    display: inline-block;
    border: none;
    text-align: center;
}
#view_top{
	
	
	border: 1px solid;
}

.profile h2 {
    font-size: 30px;
    color: rgb(254, 183, 39);
    font-weight: 900;
    line-height: 40px;
}
/*  */
.view_img .arrow {
	position: fixed;
	top: 50%;
	z-index: 30;
}

/*이미지*/
.view_big_img>img {
	max-width: 100%;
	min-width: 1000px;
	min-height: 562px;
	border: 1px solid; /*  */
}



.view_img .small_img {
	overflow: hidden;
	padding: 0 0 65px;
	margin: 0 -4px;
}

.small_img img {
    border: 1px solid;
    max-width: 50px;
    max-width: 174px;
    float: left;
    margin: 43px 10px;
    border: none;
}
/*
.view_img .small_img > a, .view_img .small_img > .small_no {
    display: block;
    float: left;
    width: 10%;
} */
.view_img .small_img {
	overflow: hidden;
	padding: 0 0 65px;
	margin: 0 -4px;
}

.view_img .small_img>a img, .view_img .small_img>.small_no>img {
	display: block;
	width: 90px;
	height: 90px;
	margin: 8px auto 0;
}

.view_img .small_img>a, .view_img .small_img>.small_no {
	display: block;
	float: left;
	width: 10%;
	width: 10%;
}
/*사진 설명*/
.detail{
    font-size: 20px;
    color: rgb(254, 183, 39);
    font-weight: 900;
    line-height: 10px;
    border-top: 20px;
    margin: 15px;
}
/*더보기*/
.more_btn{
    position: relative;
    bottom: -315px;
}
/*하단 설명부분*/
.view_detail {
	position: relative;
	z-index: 1;
	background: #f5f5f5;
	border-top: 1px solid #eeeef1;
	border-bottom: 1px solid #e8e8e7;
}

.view_detail .wrap {
	height: auto;
	padding: 45px 0;
	overflow: hidden;
}

.wrap {
	max-width: 1000px;
	margin: 0 auto;
}

.view_detail section {
	width: 50%;
	float: left;
}
/*버튼*/
.view_img_btn {
    position: absolute;
    right: 5%;
    bottom: 50px;
    z-index: 10;
}

li button{
    background: #36a4d4;
    border-radius: 3px;
    padding: 0 15px;
    line-height: 38px;
    height: 37px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
}

.view_con .view_big_img .view_img_btn {
    position: absolute;
    right: 5%;
    bottom: 50px;
    z-index: 10;
}
/*덧글*/
.talk{
	min-height: 500px;
	min-width: inherit;	 	
}

/*하단그림*/
.random_list {
    position: relative;
    background: #f8f8f8;
    border-top: 1px solid #e7e7e6;
    z-index: 1;
}

.rand_listWrap {
    display: table;
    margin: 0 auto;
    padding: 50px 0;
}

.listWrap {
    overflow: hidden;
}

.rand_listWrap .random_head {
    text-align: center;
}

.rand_listWrap .random_head h3 {
    font-size: 1.875em;
    padding-bottom: 10px;
}

.random_list > .rand_listWrap > ul {
    margin: 0;
    padding-top: 50px;
}

.listWrap ul {
    margin: -16px auto;
    overflow: hidden;
}

.random_list > .rand_listWrap > ul > li {
    width: 250px;
    height: 250px;
    max-width: 100%;
    float: left;
    overflow: hidden;
	border: 1px solid; /*  */
}